.install.stamp
__pycache__/
.*.swp
.DS_Store
*.ged
*.db
*.csv
*.egg-info
data.json
*.log
graver.log.*
.bandit
.env
.idea/
.venv
.coverage*
.vscode/
.tox*
.trunk/
bandit.yaml
*.txt
!require*.txt
dist/
