interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.findagrave.com/memorial/should-produce-404
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset='utf-8'>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <meta http-equiv=\"Content-Security-Policy\" content=\"upgrade-insecure-requests\"
        >\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"theme-color\" content=\"#5C60A3\" media=\"(prefers-color-scheme: light)\">\n
        \   <meta name=\"theme-color\" content=\"#44487B\" media=\"(prefers-color-scheme:
        dark)\">\n    \n        <title> 404 Missing Page - Find a Grave</title>\n
        \   \n    \n    \n        \n             <meta property=\"og:title\" content=\"\">\n
        \            <meta property=\"og:image\" content=\"https://www.findagrave.com/assets/images/fg-logo-square.png\">\n
        \            <meta property=\"og:description\" content=\"The World\u2019s
        largest gravesite collection. Contribute, create and discover gravesites from
        all over the world. .\">\n             <meta name=\"description\" content=\"The
        World\u2019s largest gravesite collection. Contribute, create and discover
        gravesites from all over the world. .\">\n        \n        \n        \n    \n
        \   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n    new
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \   'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '';f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-M84JSK2');</script>\n    \n<script
        src=\"//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n\n<script
        defer=\"defer\" src=\"/assets/js/runtime~core.only.ddd11d7b5939196ed1bf.js\"></script><script
        defer=\"defer\" src=\"/assets/js/6278.baee36036c1d876d86a4.js\"></script><script
        defer=\"defer\" src=\"/assets/js/8129.1cdf9e09f42a05f46e78.js\"></script><script
        defer=\"defer\" src=\"/assets/js/5595.77a6ca7b7ed776f96d8a.js\"></script><script
        defer=\"defer\" src=\"/assets/js/4178.8d27716116d4a5df4ef6.js\"></script><script
        defer=\"defer\" src=\"/assets/js/core.only.e41efe3ab5acc37dc4b3.js\"></script><link
        href=\"/assets/stylesheets/519.5264a1897b053e122063.css\" rel=\"stylesheet\">\n
        \   <link rel=\"mask-icon\" href=\"/assets/images/fg-icon.svg\" color=\"#5C60A3\">\n
        \   <link rel=\"icon\" type=\"image/x-icon\" href=\"/assets/images/favicon.png\">\n
        \   <link rel=\"apple-touch-icon\" href=\"/assets/images/FindAGrave_Icon_iPhone.png\">\n
        \   <link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"/assets/images/FindAGrave_Icon_iPad.png\">\n
        \   <link rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"/assets/images/FindAGrave_Icon_iPhone_Retina.png\">\n
        \   <link rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"/assets/images/FindAGrave_Icon_iPad_Retina.png\">\n
        \   \n    \n    \n    \n    <script>function _typeof(t){return(_typeof=\"function\"==typeof
        Symbol&&\"symbol\"==typeof Symbol.iterator?function(t){return typeof t}:function(t){return
        t&&\"function\"==typeof Symbol&&t.constructor===Symbol&&t!==Symbol.prototype?\"symbol\":typeof
        t})(t)}!function(){for(var t,e,o=[],n=window,r=n;r;){try{if(r.frames.__tcfapiLocator){t=r;break}}catch(t){}if(r===n.top)break;r=n.parent}t||(function
        t(){var e=n.document,o=!!n.frames.__tcfapiLocator;if(!o)if(e.body){var r=e.createElement(\"iframe\");r.style.cssText=\"display:none\",r.name=\"__tcfapiLocator\",e.body.appendChild(r)}else
        setTimeout(t,5);return!o}(),n.__tcfapi=function(){for(var t=arguments.length,n=new
        Array(t),r=0;r<t;r++)n[r]=arguments[r];i[...]
