interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.findagrave.com/memorial/534/andrew-jackson
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset='utf-8'>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <meta http-equiv=\"Content-Security-Policy\" content=\"upgrade-insecure-requests\"
        >\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"theme-color\" content=\"#5C60A3\" media=\"(prefers-color-scheme: light)\">\n
        \   <meta name=\"theme-color\" content=\"#44487B\" media=\"(prefers-color-scheme:
        dark)\">\n    <title> Andrew Jackson (1767-1845) - Find a Grave Memorial</title>\n
        \   \n    \n    \n    \n    <link rel=\"canonical\" href=\"https://www.findagrave.com/memorial/534/andrew-jackson\">\n\n
        \       <meta property=\"og:title\" content=\" Andrew Jackson (1767-1845)
        - Find a Grave...\">\n            <meta name=\"description\" content=\"7th
        United States President. When he threw his hat in the ring and decided to
        run for the Presidency, Andrew Jackson, the Hero of New Orleans, was the most
        popular man in the country and even received a favorite son endorsement from
        Tennessee delegates.   Detractors had a field day after his marriage to...\">\n
        \           <meta property=\"og:description\" content=\"7th United States
        President. When he threw his hat in the ring and decided to run for the Presidency,
        Andrew Jackson, the Hero of New Orleans, was the most popular man in the country
        and even received a favorite son endorsement from Tennessee delegates.   Detractors
        had a field day after his marriage to... \">\n            \n            <meta
        property=\"og:image\" content=\"https://images.findagrave.com/photos250/photos/2010/171/534_127716515710.jpg\">\n
        \           \n            <meta name = \"format-detection\" content = \"telephone=no\">\n
        \       \n        \n        \n        \n    \n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \   'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '';f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-M84JSK2');</script>\n    \n<script
        src=\"//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"[...]
