interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.findagrave.com/memorial/search?firstname=John&middlename=J.&lastname=Pershing&birthyear=1860&birthyearfilter=&deathyear=1948&deathyearfilter=&location=&locationId=&mcid=&linkedToName=&datefilter=&orderby=r&plot=
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset='utf-8'>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <meta http-equiv=\"Content-Security-Policy\" content=\"upgrade-insecure-requests\"
        >\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"theme-color\" content=\"#5C60A3\" media=\"(prefers-color-scheme: light)\">\n
        \   <meta name=\"theme-color\" content=\"#44487B\" media=\"(prefers-color-scheme:
        dark)\">\n    \n        <title>Grave Memorial Records - Find a Grave</title>\n
        \   \n    \n    \n        \n             <meta property=\"og:title\" content=\"\">\n
        \            <meta property=\"og:image\" content=\"https://www.findagrave.com/assets/images/fg-logo-square.png\">\n
        \            <meta property=\"og:description\" content=\"The World\u2019s
        largest gravesite collection. Contribute, create and discover gravesites from
        all over the world. .\">\n             <meta name=\"description\" content=\"The
        World\u2019s largest gravesite collection. Contribute, create and discover
        gravesites from all over the world. .\">\n        \n        \n        \n    <meta
        name=\"robots\" content=\"noindex\">\n\n    \n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \   'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '';f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-M84JSK2');</script>\n    \n<script
        src=\"//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"[...]
